{% extends 'base.html.twig' %}


{% block body %}
	{% block title %}
		<div class="header text-center">
			<div class="panneau container-fluid">
				<img src="../../src/sources/Espigoule.png">
			</div>
		</div>
	{% endblock %}
	<div class="corps">

		<div class="container text-center mainBody">
			<div class="container ">
				{% for clip in clipsList %}
					<div class="container ">
						<p>
							{{ clip.nom }}</p>
						<audio controls src="{{ clip.chemin }}"></audio>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
